{% extends "gstbillingapp/base.html" %}


{% load static %}
<!doctype html>

{% block content %}

<h2>Create Invoice</h2>

<form method="POST" id="invoice-form" hidden="true">

	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="table-active" scope="col" colspan="4">Invoice Details</th>
			</tr>
		</thead>

		<tbody class="two-col-form">
			<tr>
				<th scope="row">Invoice Number</th>
				<td class="form-input-td"><input name="invoice-number" type="number" class="form-control" placeholder="Invoice Number" value="{{default_invoice_number}}"></td>
				<th scope="row">Date</th>
				<td class="form-input-td"><input name="invoice-date" type="date" class="form-control", value="{{default_invoice_date}}"></td>
			</tr>
			<tr>
				<th scope="row">Order Number</th>
				<td class="form-input-td"><input autocomplete="off" name="order-number" type="text" class="form-control" placeholder="Order Number" ></td>
				<th scope="row">Order Date</th>
				<td class="form-input-td"><input name="order-date" type="date" class="form-control" ></td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="table-active" scope="col" colspan="4">Customer Details</th>
			</tr>
		</thead>

		<tbody class="two-col-form">
			<tr>
				<th scope="row">Customer Name</th>
				<td class="form-input-td customer_search_area"><input autocomplete="off" name="customer-name" type="text" class="form-control customer_search_input" id="customer-name-input" placeholder="Customer Name" required>
					<div id="customer_search_bar" style="overflow: scroll;"></div>
				</td>
				<th scope="row">Customer Address</th>
				<td class="form-input-td"><input autocomplete="off" name="customer-address" type="text" class="form-control" id="customer-address-input" placeholder="Customer Address" required></td>
			</tr>
			<tr>
				
				<th scope="row">Customer GST</th>
				<td class="form-input-td"><input autocomplete="off" name="customer-gst" type="text" class="form-control" id="customer-gst-input" placeholder="Customer GST" maxlength="15" pattern="([A-Za-z0-9]{15})|(^$)"></td>
				<th scope="row">Financial year</th>
				<td class="form-input-td">
					<input list="f_year" name="financial-year" class="form-control" id="financial-year" placeholder="Financial Year" required>
					<datalist id="f_year">	
						{% for y in financial_year %}
    						<option value="{{ y }}">{{ y }}</option>
						{% endfor %} 
					</datalist>
				</td>
			</tr>
			

			<tr>
				<th scope="row">Place of Supply</th>
				<td class="form-input-td">
					<input list="places" name="place-of-supply" class="form-control" id="place-of-supply" placeholder="Place of Supply" required>
					<datalist id="places">	
						{% for place in place_of_supply %}
    						<option value="{{ place }}">{{ place }}</option>
						{% endfor %} 
					</datalist>
				</td>
				<th scope="row">Transporter Info</th>
				<td class="form-input-td">
					<input list="transport" name="transporter" type="text" class="form-control" id="transporter" placeholder="Transporter" required>
					<datalist id="transport">
						{% for t in transporter %}
    						<option value="{{ t }}">{{ t }}</option>
						{% endfor %} 
					</datalist>
				</td>
			</tr>
			<tr>
				<th scope="row">Payment Terms</th>
				<td class="form-input-td">
					<input list="payemnt_term" name="payment-terms" class="form-control" id="payment-terms" placeholder="Payment terms" required>
					<datalist id="payemnt_term">	
						{% for p in payment_terms %}
    						<option value="{{ p }}">{{ p }}</option>
						{% endfor %} 
					</datalist>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<tbody class="two-col-form">
			<tr>
				<th scope="row">Vehicle Number</th>
				<td class="form-input-td">
					<input list="vehiclelist" autocomplete="off" name="vehicle-number" type="text" class="form-control" placeholder="Vehicle Number">
					<datalist id="vehiclelist">
						{% for v in vehicles %}
    						<option value="{{ v.vehicle_number }}">{{ v }}</option>
						{% endfor %} 
					</datalist>
				
				</td>
				<th scope="row"></th>
				<td class="form-input-td">
					<div class="form-check">
						<input class="form-check-input" name="igstcheck" type="checkbox" id="igstcheck">
						<label class="form-check-label" for="igstcheck">
							IGST
						</label>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Cartons</th>
				<td class="form-input-td"><input name="cartons" type="number" class="form-control" placeholder="Cartons" value="1"></td>
				
				<th scope="row">Bundles</th>
				<td class="form-input-td"><input name="bundles" type="number" class="form-control" placeholder="Bundles" value="0" ></td>
				
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered" id="invoice-form-items-table">
		<thead>
			<th class="table-active" scope="col" colspan="13">Items</th>

			<tr>
				<th scope="col">Sl No.</th>
				<th scope="col">Product</th>
				<th scope="col">Item code</th>
				<th scope="col">HSN / SAC</th>
				<th scope="col">Unit</th>
				<th scope="col">Qty</th>
				<th scope="col">Rate</th>
				<th scope="col">Amt</th>
				

			</tr>
		</thead>
		<tbody id="invoice-form-items-table-body">
			<tr>
				<td class="invoice-item-slno">1</td>
				<td class="form-input-td"><input autocomplete="off" name="invoice-product" type="text" class="form-control product_search_area product_search_input" placeholder="Product">
					<div id="product_search_bar" style="overflow: scroll;"></div>
				</td>
				<td class="form-input-td"><input name="invoice-item-code" type="text" class="form-control" placeholder="Item Code"></td>
				<td class="form-input-td"><input name="invoice-hsn" type="text" class="form-control" placeholder="HSN"></td>
				<td class="form-input-td"><input name="invoice-unit" type="text" class="form-control" placeholder="Unit"></td>
				<td class="form-input-td"><input name="invoice-qty" type="number" step="any" class="form-control" placeholder="Qty"></td>
				<td class="form-input-td"><input name="invoice-rate-without-gst" type="number" step="any" class="form-control" placeholder="Rate" ></td>
				<td class="form-input-td"><input name="invoice-amt-without-gst" type="number" step="any" class="form-control" placeholder="Amount" readonly></td>
				
			</tr>
		</tbody>

		<tr>
			<td colspan="7" class="text-right"><strong>Freight Charges:</strong></td>
			<td class="form-input-td"><input name="invoice-freight-charges" type="number" step="any" class="form-control" value="0"></td>
		</tr>
		<tr>
			<td colspan="7" class="text-right"><strong>TOTAL:</strong></td>
			<td class="form-input-td"><input name="invoice-total-amt-without-gst" type="number" step="any" class="form-control" readonly></td>
		</tr>
		<tr>
			<td colspan="1" class="text-right"><strong>SGST:</strong></td>
			<td class="form-input-td"><input name="invoice-total-amt-sgst" type="number" step="any" class="form-control" readonly></td>
		
			<td colspan="1" class="text-right"><strong>CGST:</strong></td>
			<td class="form-input-td"><input name="invoice-total-amt-cgst" type="number" step="any" class="form-control" readonly></td>
		
			<td colspan="1" class="text-right"><strong>IGST:</strong></td>
			<td class="form-input-td"><input name="invoice-total-amt-igst" type="number" step="any" class="form-control" readonly></td>
		
			<td colspan="1" class="text-right"><strong>GRAND TOTAL:</strong></td>
			<td class="form-input-td"><input name="invoice-total-amt-with-gst" type="number" step="any" class="form-control" readonly></td>
		</tr>

	</table>
	{% csrf_token %}
	<button class="btn btn-primary" id="invoice-form-addrow">+</button>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>


</div>
{% comment %} <div id="customer_search_bar"></div> {% endcomment %}
{% comment %} <div id="product_search_bar"></div> {% endcomment %}


{% endblock %}



{% block includejs %}
<script src="{% static "gstbillingapp/js/fuse-3.4.6.min.js" %}"></script>
<script src="{% static "gstbillingapp/js/main.js" %}"></script>
{% endblock %}
